<link rel="stylesheet" href="style.css">
<form id="loginForm">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>

    <button type="submit">Sign Up</button>

    <p>Have an account? <a href="" class="formLink">Login</a></p>
</form>