:root{
   --royal-purple: #a27ad4;
   --dark-purple: #6654c0;
   --off-white: #fffbe6; 
   --butter-ylw: #ffbe60;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gameContainer{
    position: relative; 
    width: 400px; 
    height: 700px; 
}

/* --- play button --- */ 
.playBtn { 
    position: absolute;
    left: 50%;
    top: 72%;
    transform: translate(-50%, -50%);
    padding: 12px 35px;
    background: linear-gradient(180deg, #a27ad4, #6654c0);
    font-size: 17px;
    font-weight: 900;
    color: #fffdef;
    border: none;
    border-radius: 2.5rem;
    box-shadow: 0 0 0 #f6c8ff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    z-index: 3;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: absolute;
}

.playBtn .btn-label{
    pointer-events: none;
}
.playBtn:hover {
    box-shadow: 0 0 15px var(--dark-purple);
    transform: translate(-50%, -50%) scale(1.05);
}

.playBtn:active{
    transform: translateY(1px); 
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
/* info and settings button */ 
.topBtns{
    position: absolute;
    margin-top: 15px;
    margin: 20px;
    width: 40px;
    height: 40px;
    border-radius: 60%;
    border: none;
    font-size: 30px;
    background: var(--dark-purple);
    color: var(--off-white);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    z-index: 5;
}
.topBtns:hover{
    background: var(--royal-purple);
    transform: scale(1.1);
}
.infoBtn{
    right: 20px;
}
.settingsBtn{
    right: 70px;
}

.settingsPopup, .infoPopup{
    position: absolute; 
    right: 33%;
    z-index: 10;
}
.infoPopup, .settingsPopup{
    width: 300px; ;
    background: var(--royal-purple);
    border-radius: 10px;
    padding: 20px 30px;
    color: var(--off-white);
    position: relative;
    right: 33%;
    z-index: 10;
}