:root {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --royal-purple: #a27ad4;
    --dark-purple: #6654c0;
    --off-white: #fffbe6;
    --gold: #e3b969;
}

#gameCanvas {
  border: 5px solid lime;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
body, h1, h2, h3, label, button {
    font-family: fields, sans-serif;
    color: var(--dark-purple);
}

input, select, textarea {
    font-family: "inclusive-sans", sans-serif;
    font-weight: 400;
    color: var(--dark-purple);
}

/* --- */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--off-white);
}

header,footer {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 40px 20px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    position: absolute;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    z-index: -1;
}

#game-container {
    position: relative;
    width: 600px;
    height: 800px;
    justify-self: center;
}

/* Title Scene */
/* --- play button --- */ 
.playBtn { 
    position: absolute;
    left: 50%;
    top: 72%;
    transform: translate(-50%, -50%);
    padding: 12px 35px;
    background: linear-gradient(180deg, #a27ad4, #6654c0);
    font-size: 17px;
    font-weight: 900;
    color: #fffdef;
    border: none;
    border-radius: 2.5rem;
    box-shadow: 0 0 0 #f6c8ff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    z-index: 3;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: absolute;
}

.playBtn .btn-label{
    pointer-events: none;
}
.playBtn:hover {
    box-shadow: 0 0 15px var(--dark-purple);
    transform: translate(-50%, -50%) scale(1.05);
}

.playBtn:active{
    transform: translateY(1px); 
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
/* info and settings button */ 
.topBtns{
    position: absolute;
    margin-top: 15px;
    margin: 20px;
    width: 40px;
    height: 40px;
    border-radius: 60%;
    border: none;
    font-size: 30px;
    background: var(--dark-purple);
    color: var(--off-white);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    z-index: 5;
}
.topBtns:hover{
    background: var(--royal-purple);
    transform: scale(1.1);
}
.infoBtn{
    right: 20px;
}
.settingsBtn{
    right: 70px;
}

.settingsPopup, .infoPopup{
    position: absolute; 
    right: 33%;
    z-index: 10;
}
.infoPopup, .settingsPopup{
    width: 300px; ;
    background: var(--royal-purple);
    border-radius: 10px;
    padding: 20px 30px;
    color: var(--off-white);
    position: relative;
    right: 33%;
    z-index: 10;
}